  mat-toolbar{
    margin-top: 10px;
    background-color: aliceblue;
  }

  .main-body {
    /* padding-top: 20px; */
    /* top: 170px;*/
    margin:  35px; 
    max-width: 1348px;
  }

  .main-body mat-form-field {
    width: 100%;
  }
  
  .main-body table {
    width: 100%;
  }
